body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container {
    background: rgba(255, 134, 251, 0.873);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 15px;
    max-width: 90%; /* Reduce el ancho máximo en móviles */
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 16px; /* Tamaño de texto más pequeño para dispositivos móviles */
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5; /* Espaciado entre líneas */
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
}

button:hover {
    background-color: #e91e63;
}
