body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: #f0f0f0; /* Fondo opcional */
}

img {
    max-width: 100%;  /* Asegura que la imagen no sea más grande que la pantalla */
    max-height: 100%; /* Asegura que la imagen no sea más alta que la pantalla */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}
